.cardView{    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: red 5px solid;
    width: 45px;
    height: 61px; 
    

}

.cardView-container{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;   
    width: 50px; 
    height: 70px;
    margin-top: 5px;
    
} 

.cardView-hidden{
    background-color: aqua;
}

.cardView-sohwing{
background-color: rgb(137, 170, 93);
}

.cardView-discovered{
    background-color: rgb(76, 77, 165);
}