.scoresView{
    width:100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.scores-box{
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    background-color: blue;
    color: white;
    width: 50%;
}

.scores-name{
    font-size: 35px;
}

