.scoreView{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    width: 80%;
    background-color:#3B77A8;
    margin-bottom: 10px;
    border-radius: 2px;    
}

.scoreView-nameContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    color: yellow;
    font-size: 25px;
    padding-top: 5px;
}

.scoreView-valuesContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5px;
}

.scoreView-valueContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scoreView-value-title{
    color: white;
}

.scoreView-value-description{
    color: #E3752A;
    font-size: 20px;
}