:root{
    --primary-color:black;
    --secondary-color:red;
    --background-color:  grey;
    --navigationContainer--height: 60px;
}

*{padding:0; margin: 0;}



.mainContainer{
    display: flex;
    flex-direction: column;

    background-color: aquamarine;
    width: 100vw; 
    height: 100vh;
    
}

.navigationContainer{
    background-color:  blue;
    height: var(--navigationContainer--height);
    width: 100%;

}

.contentContainer{
    background-color: antiquewhite;
    width: 100%;
    height: cal(100%-var(--navigationContainer--height));
    /* overflow: scroll; */
    
}